.imageCard {
    width: 100px;
    height: 130px;
    background: black;
    border-radius: 15px 15px;
    display: block;
}

.imgLoading {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
}

mat-card {
    float: left;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px 15px;
}

h4 {
    text-align: center;
    border: 1px dotted #000;
    padding: 8px;
}

div {
    margin-top: 50px;
}