.imgLoading {
    position: relative;
    z-index: 9;
    margin: 20px auto;
    display: block;
    width: 100%;
    height: Calc(100vh - 140px)
}

mat-label {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.buttonPaginator {
    cursor: pointer;
    padding: 0;
    margin: 2px;
    border: 1px solid gray;
    border-radius: 10px 10px;
}

#buttonPaginator2 {
    margin-right: 10px;
}

#paginator {
    border: 1px solid black;
    border-radius: 10px 10px;
    height: 42px;
    margin-bottom: 15px;
}

#pokemos {
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

mat-paginator {
    position: relative;
    margin-bottom: 5px;
}

#PokeCard {
    padding: 16px;
    float: left;
    display: flex;
    display: block;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin: 0px 20px 20px 20px;
}

#namePoke {
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    display: block;
}

#imgPoke {
    width: 203px;
    height: 242px;
    cursor: pointer;
    border-radius: 15px 15px;
    background-color: rgba(84, 81, 0, 0.707);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}